
html, body {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: montserrat, Arial, Helvetica, sans-serif;
  line-height: 30px;
}

header, footer, article, section {
  font-family: source_sans_pro, Arial, Helvetica, sans-serif;
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  font-size: 30px;
  margin: 30px 15px;
}

h2 {
  font-weight: bold;
  border-bottom: 1px solid rgb(145, 145, 145);
  margin: 0;
  padding: 20px 15px 10px 15px;
  font-size: 35px;
}

h3 {
  overflow: visible;
  height: 0px;
  border-bottom: 1px solid rgb(226, 226, 226);
  margin: 19px 15px;
}

h3 span {
  background-color: white;
  padding: 0 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0 15px 30px 15px;
}

form p {
  margin-bottom: 5px;
}

button, 
a, 
input[type="button"],
input[type="submit"] {
  cursor: pointer;
}

input::-webkit-input-placeholder,
input:-moz-placeholder, /* Firefox 18- */
input::-moz-placeholder,  /* Firefox 19+ */
input:-ms-input-placeholder {  
  color: rgb(165, 165, 165);
}

input.dozmia-input {
  height: 36px;
  border-radius: 36px;
  text-indent: 18px;
  color: rgb(117, 117, 117);
  font-family: source_sans_pro, Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: bold;
  border: 1px solid rgb(165, 165, 165);
}
input[type="search"].dozmia-input {
  font-family: montserrat, Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-style: italic;
  font-weight: normal;
  border: 2px solid rgb(165, 165, 165);
}
select.dozmia-input {
  height: 36px;
  font-size: 17px;
  font-family: source_sans_pro, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgb(117, 117, 117);
  padding: 0 10px;
  cursor: pointer;
}
input.dozmia-input:focus,
select.dozmia-input:focus,
.dozmia-button:focus {
  box-shadow: 0 0 6px rgb(66, 189, 220) !important;
}

input[type="button"].dozmia-button,
input[type="submit"].dozmia-button,
button.dozmia-button,
a.dozmia-button {
  height: 36px;
  line-height: 32px;
  border: 2px solid rgb(66, 189, 220);
  border-radius: 40px;
  background-color: rgb(66, 189, 220);
  color: white;
  padding: 0 30px 0 30px;
  font-family: montserrat;
  cursor: pointer;
  font-size: 13px;
  width: auto;
  text-align: center;
}
.dozmia-button.dozmia-button--hollow {
  background: rgb(255, 255, 255) !important;
  color: rgb(66, 189, 220) !important;
}
.dozmia-button.dozmia-button--facebook {
  background-color: rgb(76, 112, 170);
  border-color: rgb(76, 112, 170);
  position: relative;
  padding: 0 32px 0 48px;
}
.dozmia-button.dozmia-button--facebook span {
  width: 32px;
  height: 32px;
  border-radius: 32px;
  background-color: white;
  color: rgb(76, 112, 170);
  font-family: Helvetica;
  font-size: 20px;
  font-weight: bold;
  display: block;
  position: absolute;
  left: 0;
}
.dozmia-button.dozmia-button--facebook span:after {
  content: "f";
}
.dozmia-button.dozmia-button--big-text {
  font-size: 17px;
  text-transform: uppercase;
}

.dozmia-album-art-wall {
  background-color: rgb(45, 45, 45);
  overflow: hidden;
}
.dozmia-album-art-wall .dozmia-album-art {
  width: 180px;
  height: 180px;
}
.dozmia-album-art-wall .dozmia-album-art.dozmia-album-art--half {
  width: 90px;
  height: 90px;
}

.dozmia-album-art {
  outline: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.15);
  height: 90px;
  width: 90px;
}
.dozmia-album-art.dozmia-album-art--dark {
  outline: 1px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.15);
}
.dozmia-album-art.dozmia-album-art--half {
  height: 45px;
  width: 45px;
}
.dozmia-album-art div {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}
.dozmia-album-art:hover div {
  display: block;
}
.dozmia-album-art article {
  font-size: 16px;
  position: absolute;
  z-index: 2;
  bottom: 0;
}
.dozmia-album-art h6 {
  font-size: 20px;
}
.dozmia-album-art button {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.dozmia-layout-fixed-left {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
}

.dozmia-layout-fixed-top {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 250px;
  padding-right: 250px;
  width: 100%;
  height: 70px;
  z-index: 2;
}

.dozmia-layout-fixed-bottom {
  position: fixed;
  overflow: hidden;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  z-index: 3;
}

.dozmia-layout-fixed-bottom-center {
  position: absolute;
  left: 270px;
  right: 140px;
}

.dozmia-layout-fixed-right {
  position: fixed;
  overflow: hidden;
  right: 0;
  top: 70px;
  width: 200px;
  height: 100%;
  z-index: 1;
}

.dozmia-layout-page-content {
  position: relative;
  margin: 70px 0 90px 250px;
  padding: 0 450px 160px 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.dozmia-music-drawer {
  background-color: rgb(45, 45, 45);
}
/* TODO: should this actually be an H1? */
.dozmia-music-drawer h5 {
  text-transform: uppercase;
  font-size: 18px;
  height: 30px;
  margin: 0 0 40px 0;
}
.dozmia-music-drawer h6 {
  text-transform: uppercase;
  font-size: 15px;
}
.dozmia-music-drawer-section {
  padding: 20px 0 20px 0;
}
.dozmia-music-drawer-section + .dozmia-music-drawer-section {
  padding: 19px 0 0 0;
  border-top: 1px solid rgb(91, 91, 91);
}
/* TODO: should this actually be an H1, H2? */
.dozmia-music-drawer-section h5, 
.dozmia-music-drawer-section h6,
.dozmia-music-drawer-item a {
  padding: 0 20px 0 20px;
}
.dozmia-music-drawer-item {
  font-size: 13px;
  line-height: 27px;
  display: list-item;
}
.dozmia-music-drawer-item a {
  display: block;
  color: inherit;
  text-decoration: none;
}
.dozmia-music-drawer-item--selected {
  background-color: rgb(117, 117, 117);
  position: relative;
}
.dozmia-music-drawer-item.dozmia-music-drawer-item--selected a {
  border-left: 5px solid rgb(66, 189, 220);
  padding-left: 15px;
}

.dozmia-top-shelf {
  background-color: white;
  border-bottom: 1px solid rgb(117, 117, 117);
}
.dozmia-top-shelf .dozmia-button {
  width: 150px;
}
.dozmia-top-shelf nav {
  margin: 17px 0;
}
.dozmia-top-shelf nav.dozmia-search {
  width: 40%;
  min-width: 150px;
}
.dozmia-top-shelf input[type="search"] {
  width: 100%;
  min-width: 150px;
}

.dozmia-advert {
  background-color: rgb(255, 255, 255);
  color: rgb(165, 165, 165);
  border-left: 1px solid rgb(117, 117, 117);
}

.dozmia-page-content {
  background-color: rgb(255, 255, 255);
  color: rgb(117, 117, 117);
}

.dozmia-prefix-logo img {
  margin-right: 5px;
}

.dozmia-player {
  background-color: rgb(255, 255, 255);
  color: rgb(145, 145, 145);
  border-top: 1px solid rgb(117, 117, 117);
}
.dozmia-player--translucent {
  background-color: rgba(255, 255, 255, 0.5);
}

.dozmia-player-song-info {
  height: 30px;
  overflow: hidden;
}
/* TODO: should this actually be an H1? */
.dozmia-player-song-info h1 {
  font-size: 20px;
  margin: 0;
}
.dozmia-player-buttons {
  height: 100%;
}

button.dozmia-control-rewind,
button.dozmia-control-play,
button.dozmia-control-fastforward {
  position: relative;
  width: 60px;
  height: 100%;
  outline: 1px solid rgba(0, 0, 0, 0.2);
}

.dozmia-control-volume {
  width: 140px;
  height: 100%;
  outline: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="range"].dozmia-control-slider {
  background-color: rgba(82, 194, 223, 0.5);
  height: 7px;
  border-radius: 7px;
  background-image: url("/dozmia/assets/bg-control-slider.gif");
  background-position: 0 0;
  background-size: 64%;
  background-repeat: no-repeat;
  margin: 21px 0;
  cursor: crosshair;
}
input[type="range"].dozmia-control-slider::-moz-range-track {
  background-color: rgba(82, 194, 223, 0.1);
  height: 7px;
  border-radius: 7px;
}
input[type="range"].dozmia-control-slider::-webkit-slider-thumb {
  background-color: rgb(184, 184, 184);
  width: 15px;
  height: 15px;
  border-radius: 15px;
}
input[type="range"].dozmia-control-slider::-moz-range-thumb {
  background-color: rgb(184, 184, 184);
  width: 15px;
  height: 15px;
  border-radius: 15px;
}

.dozmia-timer {
  font-size: 20px;
}
.dozmia-timer-elapsed + .dozmia-timer-total:before {
  content: " | ";
}

.dozmia-account-settings p, 
.dozmia-account-settings fieldset {
  margin: 0 15px;
  line-height: 50px;
  font-size: 25px;
}
.dozmia-account-settings input, 
.dozmia-account-settings select {
  font-size: 25px;
  height: 50px;
  font-family: source_sans_pro, Arial, Helvetica, sans-serif;
  min-width: 150px;
}
.dozmia-account-settings input:focus, 
.dozmia-account-settings select:focus {
  box-shadow: 0 0 6px rgb(66, 189, 220) !important;
}
.dozmia-account-settings input {
  max-width: 400px;
  width: 100%;
  min-width: 150px;
}
.dozmia-account-settings-control {
  text-align: right;
}
.dozmia-account-settings-bday input {
  width: 25px;
  min-width: 25px;
}
.dozmia-account-settings-bday input:last-child {
  width: 50px;
}

table.dozmia-song-list {
  width: 100%;
  font-size: 16px;
  line-height: 45px;
}
table.dozmia-song-list button {
  font-size: 16px;
}
table.dozmia-song-list td {
  cursor: pointer;
}
table.dozmia-song-list thead td {
  border-left: 1px solid rgb(183, 183, 183);
}
table.dozmia-song-list td:nth-child(1) {
  width: 24px;
  text-align: center;
}
table.dozmia-song-list thead td:nth-child(1),
table.dozmia-song-list thead td:nth-child(2) {
  border-left: 0;
}
table.dozmia-song-list tbody tr {
  border-bottom: 1px solid rgb(236, 236, 236);
}
table.dozmia-song-list tbody tr:first-child {
  border-top: 1px solid rgb(236, 236, 236);
}
/* This seems like it might be inducing a Chrome bug.
/* The font size of child button changes only when hovering and not when
/* inspecting the button element in dev tools!
/* table.dozmia-song-list tbody tr:hover { */
/*   background-color: rgb(251, 251, 251); */
/*   color: rgb(66, 189, 220); */
/* } */
table.dozmia-song-list tbody tr.dozmia-song-list-item--selected {
  background-color: rgb(244, 244, 244);
  color: rgb(66, 189, 220);
}
table.dozmia-song-list td {
  padding: 0 10px;
}

section.dozmia-playlist.dozmia-playlist--empty h1 {
  text-align: center;
}

section.dozmia-playlist .dozmia-playlist-plus {
  width: 150px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(165, 165, 165);
}

.dozmia-modal {
  border-radius: 15px;
  background-color: white;
  color: rgb(111, 111, 111);
  font-family: source_sans_pro, Arial, Helvetica, sans-serif;
  min-width: 450px;
}
.dozmia-modal section {
  margin: 15px 0;
  min-height: 30px;
  text-align: center;
}

.color-red-text {
  color: rgb(117, 19, 19) !important;
}
.color-blue-text {
  color: rgb(66, 189, 220) !important;
}

.modal-background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
}

